@import "../../colors";

h1#not-found {
  text-align: center;
  color: $text-color;
  font-size: 40px;
  grid-column: 1/4;
  margin-top: 40vh;
  width: 100%;
}
.on-main{
  margin: 0 auto;
  grid-column: 1/4;
  color: $main-accent-color;
}