@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');
@import "colors";
*,*:not(i)::before,*:not(i)::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex",sans-serif;
}

a{
  color:inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

body{
  background-color: $background-color;
  min-width: 1500px;

  #root{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    max-width: 1500px;
    margin: 0 auto;
  }
}
