@import "../../colors";
#blur{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.05);
  z-index: 998;
  backdrop-filter: blur(2px );

  .popup{
    background-color: $boder-color;
    border-radius: 5px;
    padding: 0  20px 20px;
    position: fixed;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    z-index: 999;

    .close-btn{
      position: sticky;
      z-index: 1000;
      width: calc(100% + 20px);
      font-size: 25px;
      border: none;
      background:$boder-color;
      top: -1px;
      left: 0;
      padding: 15px 15px;
      color: $text-color;

      i{
        float: right;
      }

      &:hover{
        color: red;
      }

    }
  }
}