#post-form-container{
  margin-top: 10px;
  .post-form-toolbar{
    margin-bottom: 0;
    color:black;
  }

  .button.rounded{
    margin-top: 10px;
  }

  .post-form-editor {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    margin-top: 10px;

    .public-DraftStyleDefault-block {
      margin: 1em;
    }
  }

  .rdw-option-wrapper {
    position: relative;
  }

  .rdw-dropdown-optionwrapper {
    position: absolute;
    z-index: 1000;
  }

}