@import "../../colors";
#post-form-container{
  margin-top: 10px;



  .rdw-option-wrapper {
    position: relative;
  }

  .rdw-dropdown-optionwrapper {
    position: absolute;
    z-index: 1000;
  }
}

input[type="file"]{
  display: none;
}

.files{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 5px;

  img{
    border-radius: 5px;
    width: 100%;
    display: block;
    object-fit: contain;
    grid-column: span 1;
  }
}

.btns{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  .post-files{
    color: $main-accent-color;

    &:hover{
      color: black;
    }
  }
}
