#post-form-container{
  margin-top: 10px;

  .button.rounded{
    margin-top: 10px;
  }

  .rdw-option-wrapper {
    position: relative;
  }

  .rdw-dropdown-optionwrapper {
    position: absolute;
    z-index: 1000;
  }

}